
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
#[Dd]ebug*/ # need to include STL debug directory
*.lib
*.sbr
obj/
bin/
lib/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.vsprops
*.vcproj*
*.sln
*.vss*
*.bat
*.js
*.smc
*.auc
rvdebug*
ExternalDependencies/xtensa/*
dpRecLib/Source/dpfr/dp_vec.cpp
dpRecLib/Source/dpfr/libDPFR_exports.txt
GNUmakefile
NMakefile
ush_5880*
runner.cpp
[Tt]estFeature.txt
IntDir

*.kdev4
